.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
box-sizing: border-box;
}

body {
    background: hsl(233, 47%, 7%);
    font-size: 15px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.column img {
    width: 340px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    background-color:  hsl(244, 38%, 16%);
}

.column h1 {
    color:  hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.column span {
    color: hsl(277, 64%, 61%);
}

.column p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

