.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
}

body {
    background: hsl(233, 47%, 7%);
    font-size: 15px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
}

.column {
    float: left;
    width: 50%;
    height: 300px;
}

.column img {
    width: 363px;
    filter: opacity(0.5);
}

.first{
    width: 403px;
}

.image {
    width: fit-content;
    /* mix-blend-mode: multiply; */
/* becomes a darker shade?? */
}

.pic {
background-color: #7f14ac;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.first {
    background-color: hsl(244, 38%, 16%);
}

.column h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.column span {
    color: hsl(277, 64%, 61%);
}

.column p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 20px, 20px;
}

.stat {
    display: flex;
}

.statistics {
    margin: 10px;
}


p.numbers {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin: 1px;
}


p.text {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 1px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}